.content-slider {
    position: absolute;
    width: 400px;
    top: 0;
    display: flex;
    flex-direction: column;
    right: -5rem;
    height: 600px;
    margin: auto;
}

.slider {
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    top: 4rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}

.slide.col-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slide.col-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.slide.active {
    opacity: 1;
    left: 0;
}

.slide img {
    width: 100%;
    height: auto;
}


@media (max-width: 1280px) {

    .content-container__area .content_item{
        border-radius: 12px;
    }

    .content-container__area .content.left{
        grid-column: span 5 / span 5;
    }

    img{
        max-width: 100%;
        max-height: 300px;
    }

    .content-slider {
        width: auto;
        right: 0;
        left: 0;
    }

    .slide.col-1{
        padding: 1rem;
    }
    
    .slide.col-2 {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .slide.col-2 .arrow {
        top: 6rem;
        right: 52%;
    }
}